<svg viewBox="0 0 768 64" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="top-menu-preview">
<rect width="768" height="64" [attr.fill]="color(['topMenuBackgroundColor', 'primaryColor'], '#1976D3')"></rect>
<rect x="700" y="38" width="40" height="10" rx="4" [attr.fill]="color(['topMenuItemTextColor', 'backgroundColor'], 'white')"></rect>
<rect x="710" y="12" width="20" height="20" rx="4" [attr.fill]="color(['topMenuItemIconColor', 'backgroundColor'], 'white')"></rect>
<rect x="620" y="38" width="40" height="10" rx="4" [attr.fill]="color(['topMenuItemTextColor', 'backgroundColor'], 'white')"></rect>
<rect x="630" y="12" width="20" height="20" rx="4" [attr.fill]="color(['topMenuItemIconColor', 'backgroundColor'], 'white')"></rect>
<rect x="540" y="38" width="40" height="10" rx="4" [attr.fill]="color(['topMenuItemTextColor', 'backgroundColor'], 'white')"></rect>
<rect x="550" y="12" width="20" height="20" rx="4" [attr.fill]="color(['topMenuItemIconColor', 'backgroundColor'], 'white')"></rect>
<rect x="460" y="38" width="40" height="10" rx="4" [attr.fill]="color(['topMenuItemTextColor', 'backgroundColor'], 'white')"></rect>
<rect x="470" y="12" width="20" height="20" rx="4" [attr.fill]="color(['topMenuItemIconColor', 'backgroundColor'], 'white')"></rect>
<rect x="76" y="27" width="128" height="12" rx="4" [attr.fill]="color(['topMenuHeadingTitleColor', 'backgroundColor'], 'white')"></rect>
<g id="logo">
<circle cx="44" cy="32" r="20" [attr.fill]="color(['topMenuHeadingIconColor', 'backgroundColor'], 'white')"></circle>
<circle cx="44" cy="32" r="20" fill="url(#pattern0)"></circle>
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="24" y="12" width="40" height="40">
<circle id="mask" cx="44" cy="32" r="20" fill="#FF0000"></circle>
</mask>
<g mask="url(#mask0)">
</g>
</g>
</g>
<defs>
<pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
<use xlink:href="#image0" transform="scale(0.015625)"></use>
</pattern>
<image id="image0" data-name="Checker.png" width="64" height="64" [attr.xlink:href]="image(['topMenuImage'])"></image>
</defs>
</svg>