<svg viewBox="0 0 768 64" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="top-menu-preview">
<rect width="768" height="64" [attr.fill]="color(['topMenuBackgroundColor', 'primaryColor'], '#1976D3')"></rect>
<rect x="700" y="38" width="40" height="10" rx="4" [attr.fill]="color(['topMenuItemTextColor', 'backgroundColor'], 'white')"></rect>
<rect x="710" y="12" width="20" height="20" rx="4" [attr.fill]="color(['topMenuItemIconColor', 'backgroundColor'], 'white')"></rect>
<rect x="620" y="38" width="40" height="10" rx="4" [attr.fill]="color(['topMenuItemTextColor', 'backgroundColor'], 'white')"></rect>
<rect x="630" y="12" width="20" height="20" rx="4" [attr.fill]="color(['topMenuItemIconColor', 'backgroundColor'], 'white')"></rect>
<rect x="540" y="38" width="40" height="10" rx="4" [attr.fill]="color(['topMenuItemTextColor', 'backgroundColor'], 'white')"></rect>
<rect x="550" y="12" width="20" height="20" rx="4" [attr.fill]="color(['topMenuItemIconColor', 'backgroundColor'], 'white')"></rect>
<rect x="460" y="38" width="40" height="10" rx="4" [attr.fill]="color(['topMenuItemTextColor', 'backgroundColor'], 'white')"></rect>
<rect x="470" y="12" width="20" height="20" rx="4" [attr.fill]="color(['topMenuItemIconColor', 'backgroundColor'], 'white')"></rect>
<rect x="76" y="27" width="128" height="12" rx="4" [attr.fill]="color(['topMenuHeadingTitleColor', 'backgroundColor'], 'white')"></rect>
<g id="logo">
<circle cx="44" cy="32" r="20" fill="url(#image-a865020e-d1de-4898-b757-5e937c35bd0c)"></circle>
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="24" y="12" width="40" height="40">
<circle id="mask" cx="44" cy="32" r="20" fill="#FF0000"></circle>
</mask>
<g mask="url(#mask0)">
</g>
</g>
</g>
<defs><pattern id="image-a865020e-d1de-4898-b757-5e937c35bd0c" x="0" y="0" patternUnits="userSpaceOnUse" height="1" width="1"><image x="0" y="0" [attr.xlink:href]="image(['topMenuIcon', 'icon'])"></image></pattern></defs></svg>